// don't change this please
.btn-main{
    height: 150px;
    width: 150px;
    margin: 20px;
    font-size: large;
  }
  

  // format your button below!!
  #colleen {
    color: pink;
    background-color: aliceblue;
    border: 4px solid pink;
    border-radius: 30px;
  }
  
  #hh {
    color: purple;
  }
  
  #jz {
    color: blue;
  }
  
  #jc {
    color: red;
  }
  
  #mt {
    color: blue;
  }
  
  #cm {
    color: purple;
  }
  
  #ay {
    color: green;
  }
  
  