// don't change this please
.btn-main{
    height: 150px;
    width: 150px;
    margin: 20px;
    font-size: large;
  }
  

  // format your button below!!
  #colleen {
    color: white;
    background-image: url('../images/silly-raccoon.jpg');
    background-size: cover;
    background-position: center;
    border: 4px solid pink;
    border-radius: 30px;
    cursor: pointer; 
  }

  #colleen:hover{
    background-size: 400%;
  }
  
  #hh {
    color: purple;
  }
  
  #jz {
    color: blue;
  }
  
  #jc {
    color: red;
  }
  
  #mt {
    color: blue;
  }
  
  #cm {
    color: purple;
  }
  
  #ay {
    color: green;
  }
  
  